body {
    font-family: 'Roboto', sans-serif;}
    
mark {
    border-radius:15px;
}
.alert-container .col-12
{
     width: 100%;
    padding-right: 0;
    padding-left: 0;

}

.side-wide-alert {
    padding:5px 15px;
    background-color:#eec802;
    border-color:#eec802;
    color:black;
    text-align: center;
}

.callout-container {
    height: 100vh;
    
    background: url("../images/irish-whiskey.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    
    display: flex;
    align-items:center;
    justify-content:center;
}

.opaque-overlay{
    position: absolute;
    top:0;
    left: 0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    
    position:relative;
}

.quotes-container {}

.features-container {}


/* PAGE HEADERS */

.page-header {
    margin-botton:0;
    border-bottom:0;
    text-align:center;
    
}

.page-header h2 {
    margin-top:0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/*content container*/

.content-container {
    padding-bottom:75px;
    padding-top:75px;
}

.container-wrapper{}

.container-wrapper--red {
    background-color:#f05f40;
    color: white;
} 


/*  .features-container {
    padding:0;
    margin:0;
} */


/** BLOCK DIVIDERS **/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color:#444;
}

.block-divider--orange {
   background-color: #d49118;
}

.block-divider--short {
    width: 35px;
}

.block-divider--white {
    background-color:white;
    
}

/* NAVBAR */

.navalert-container {
    position:absolute;
    top:0;
    left: 0;
    padding-left:0;
    padding-right:0;
    
}

.navbar {
    margin-bottom:0;
    border:0;
    width:100%;
    background-color: rgba(0,0,0,0.25);

}

.navbar .navbar.toggler {
    border:0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/** CLASS JUMBOTRON **/

.jumbotron {
    background-color: transparent;
}

.jumbotron {
    color: white;
    font-weight:bold;
    margin-botton: 30px;
    
}

.jumbotron small{
    font-size: 60%;
    font-style: italic;
    color:#d0d0d0;
    
}

.lead {
        margin: 25px 0;
    color: #d0d0d0;
}


/* BUTTON */

.btn--cta{
    font-weight:bold;
    width:160px;
    border-radius: 23px;
}

.btn--red{
    color:white;
    background-color:#f05f40;
    border-color:#f05f40;
}

.btn--red:hover, 
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color:#bb2b0c;
    border:#bb2b0c;
}


.feature {text-align:center;
margin-bottom:40px;
}

.feature i {
    line-height:45px;
    margin-bottom: 20px;
    font-size: 45px;
}


.feature .btn {
    background-color:white;
    border-color: white;
    border-radius:15px;
    min-width:100px;
    font-weight:bold;
    margin-top:10px;
    color:#f05f40;
}